In [1]:
import pandas as pd
import numpy as np

# 1.创建索引：

## Series对象

In [2]:
obj = pd.Series([1,2,3,4],index=['a','b','c','d'])
obj

a    1
b    2
c    3
d    4
dtype: int64

#### 调用reindex()方法会将数据按照新的索引进行排序，如果某个索引值之前不存在的话，则会引入缺失值NaN

In [3]:
obj_new = obj.reindex(['e','d','c','b','a'])

In [4]:
obj_new

e    NaN
d    4.0
c    3.0
b    2.0
a    1.0
dtype: float64

#### method 参数允许使用插值方式来填充缺失值

In [5]:
obj = pd.Series(['a','b','c'],index=[1,3,5])
obj

1    a
3    b
5    c
dtype: object

In [6]:
# ffill将值向前填充
obj_new = obj.reindex(range(6),method='ffill')

In [7]:
obj_new

0    NaN
1      a
2      a
3      b
4      b
5      c
dtype: object

In [8]:
# bfill将值向后填充
obj_new = obj.reindex(range(6),method='bfill')

In [9]:
obj_new

0    a
1    a
2    b
3    b
4    c
5    c
dtype: object

#### 通过fill_value参数指定填充值

In [10]:
obj_new = obj.reindex(range(6),fill_value='XXX')

In [11]:
obj_new

0    XXX
1      a
2    XXX
3      b
4    XXX
5      c
dtype: object

## DataFrame对象

In [12]:
df = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','b','c'],columns=['X','Y','Z'])
df

   X  Y  Z
a  0  1  2
b  3  4  5
c  6  7  8

#### 当只传入一个序列的时候，只会对行进行重建索引。

In [13]:
df.reindex(['a','b','c','d'])

     X    Y    Z
a  0.0  1.0  2.0
b  3.0  4.0  5.0
c  6.0  7.0  8.0
d  NaN  NaN  NaN

In [14]:
df.reindex(index=['d','c','b','a'])

     X    Y    Z
d  NaN  NaN  NaN
c  6.0  7.0  8.0
b  3.0  4.0  5.0
a  0.0  1.0  2.0

#### 如果只对列重建索引的话，可以通过使用columns关键字完成。

In [15]:
df.reindex(columns=['Y','Z','X'])

   Y  Z  X
a  1  2  0
b  4  5  3
c  7  8  6

#### 重建索引也可以通过使用axis关键字指定要重新索引的轴完成。

In [16]:
df.reindex(['a','b','e'] , axis=0)

     X    Y    Z
a  0.0  1.0  2.0
b  3.0  4.0  5.0
e  NaN  NaN  NaN

In [17]:
df.reindex(['a','b','e'] , axis='index')

     X    Y    Z
a  0.0  1.0  2.0
b  3.0  4.0  5.0
e  NaN  NaN  NaN

In [18]:
df.reindex(['Z','Y','X'] , axis=1)

   Z  Y  X
a  2  1  0
b  5  4  3
c  8  7  6

In [19]:
df.reindex(['Z','Y','X'] , axis='columns')

   Z  Y  X
a  2  1  0
b  5  4  3
c  8  7  6

#### 还可以使用 loc 运算符进行重新索引

In [20]:
df.loc[['c','b','a'] , ['Z','Y','X']]

   Z  Y  X
c  8  7  6
b  5  4  3
a  2  1  0