In [1]:
import numpy as np
import pandas as pd

# 1.Series类型：

In [2]:
obj = pd.Series([9,8,7,6],index=['a','b','c','d'])
obj

a    9
b    8
c    7
d    6
dtype: int64

In [3]:
obj[0]

9

In [4]:
obj['c']

7

In [5]:
# 使用轴标签，索引多行
obj[['a','b']]

a    9
b    8
dtype: int64

In [6]:
# 使用位置标签，索引多行
obj[[0,3]]

a    9
d    6
dtype: int64

In [7]:
obj[obj>7]

a    9
b    8
dtype: int64

#### 更推荐 loc 的原因是因为在使用 [] 进行索引时对整数的处理方式不同

In [8]:
obj1 = pd.Series([1, 2, 3], index=[2, 0, 1])
obj2 = pd.Series([1, 2, 3], index=["a", "b", "c"])

In [9]:
obj1

2    1
0    2
1    3
dtype: int64

In [10]:
obj2

a    1
b    2
c    3
dtype: int64

In [11]:
obj1[[2, 1, 0]]

2    1
1    3
0    2
dtype: int64

In [12]:
obj2[[2, 1, 0]]

c    3
b    2
a    1
dtype: int64

In [13]:
obj2.loc[[2, 1, 0]]

KeyError: "None of [Int64Index([2, 1, 0], dtype='int64')] are in the [index]"

#### Python切片中取值范围是不包含尾部，Series对象的切片与之不同

In [14]:
# 整数标签时，不包含尾部
obj[0:2]

a    9
b    8
dtype: int64

In [15]:
# 使用轴标签时，包含尾部
obj['a':'c']

a    9
b    8
c    7
dtype: int64

#### 使用索引直接赋值新的值，会修改Series的相应部分。

In [16]:
obj['a':'c'] = 1

In [17]:
obj

a    1
b    1
c    1
d    6
dtype: int64

# 2.DataFrame类型

#### 使用单个值索引DataFrame中的一列，使用序列索引DataFrame中的多列。

In [18]:
df = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','b','c'],columns=['XX','YY','ZZ'])
df

   XX  YY  ZZ
a   0   1   2
b   3   4   5
c   6   7   8

In [19]:
df['YY']

a    1
b    4
c    7
Name: YY, dtype: int32

In [20]:
df[['YY','XX']]

   YY  XX
a   1   0
b   4   3
c   7   6

#### 根据一个布尔值数组切片或选择数据

In [21]:
df[df['YY']>2]

   XX  YY  ZZ
b   3   4   5
c   6   7   8

# 3.使用loc和iloc方法选择数据

In [22]:
df = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','b','c'],columns=['XX','YY','ZZ'])
df

   XX  YY  ZZ
a   0   1   2
b   3   4   5
c   6   7   8

In [23]:
# 选择单行
df.loc['a']

XX    0
YY    1
ZZ    2
Name: a, dtype: int32

In [24]:
# 选择多行
df.loc[['c','b']]

   XX  YY  ZZ
c   6   7   8
b   3   4   5

In [25]:
# 选择单行
df.iloc[0]

XX    0
YY    1
ZZ    2
Name: a, dtype: int32

In [26]:
# 选择多行
df.iloc[[2,0]]

   XX  YY  ZZ
c   6   7   8
a   0   1   2

#### 可以通过用逗号分隔的方式来组合需要选择的行和列

In [27]:
# 使用loc方法选择单行多列
df.loc['b',['XX','ZZ']]

XX    3
ZZ    5
Name: b, dtype: int32

In [28]:
# 使用iloc方法选择单行多列
df.iloc[1,[0,2]]

XX    3
ZZ    5
Name: b, dtype: int32

In [29]:
# 使用loc方法选择多行多列
df.loc[['a','c'],['XX','ZZ']]

   XX  ZZ
a   0   2
c   6   8

In [30]:
# 使用iloc方法选择多行多列
df.iloc[[0,2],[0,2]]

   XX  ZZ
a   0   2
c   6   8

#### 除了使用单个标签或标签列表之外，还可以用于切片操作

In [31]:
df.loc[:'b' , :'YY']

   XX  YY
a   0   1
b   3   4

In [32]:
df.iloc[:2 , 1:]

   YY  ZZ
a   1   2
b   4   5

#### 布尔数组可以与 loc 一起使用，但不能与 iloc 一起使用

In [33]:
df['YY'] > 2

a    False
b     True
c     True
Name: YY, dtype: bool

In [34]:
df.loc[df['YY'] > 2]

   XX  YY  ZZ
b   3   4   5
c   6   7   8

# 4.df.at[]和df.iat[]:

In [35]:
df = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','b','c'],columns=['XX','YY','ZZ'])
df

   XX  YY  ZZ
a   0   1   2
b   3   4   5
c   6   7   8

In [36]:
df.at['b','YY']

4

In [37]:
df.iat[1,1]

4