In [1]:
import numpy as np
import pandas as pd

# 1.Numpy的逐元素数组方法：

In [2]:
df = pd.DataFrame(np.arange(12).reshape((4,3)),columns=['a','b','c'],index=['行1','行2','行3','行4'])
df

    a   b   c
行1  0   1   2
行2  3   4   5
行3  6   7   8
行4  9  10  11

In [3]:
np.exp(df)

              a             b             c
行1     1.000000      2.718282      7.389056
行2    20.085537     54.598150    148.413159
行3   403.428793   1096.633158   2980.957987
行4  8103.083928  22026.465795  59874.141715

# 2.apply()方法:

#### DataFrame的apply()方法可以实现将函数应用到一行或一列的一维数组上，通过指定axis值将函数作用于指定轴

In [4]:
df = pd.DataFrame(np.arange(12).reshape((4,3)),columns=['a','b','c'],index=['行1','行2','行3','行4'])
df

    a   b   c
行1  0   1   2
行2  3   4   5
行3  6   7   8
行4  9  10  11

In [5]:
f = lambda x :x.max()-x.min()

In [6]:
df.apply(f)

a    9
b    9
c    9
dtype: int64

In [7]:
df.apply(f,axis='columns')

行1    2
行2    2
行3    2
行4    2
dtype: int64

In [8]:
df.apply(f,axis=0)

a    9
b    9
c    9
dtype: int64

#### 传递给apply()方法的函数 f 也可以返回带有多个值的Series

In [9]:
df = pd.DataFrame(np.arange(12).reshape((4,3)),columns=['a','b','c'],index=['行1','行2','行3','行4'])
df

    a   b   c
行1  0   1   2
行2  3   4   5
行3  6   7   8
行4  9  10  11

In [10]:
def f(x):
    return pd.Series([x.min(),x.max()],index=['min','max'])

In [11]:
df.apply(f , axis=0)

     a   b   c
min  0   1   2
max  9  10  11

# 3.applymap()方法：

In [12]:
df = pd.DataFrame(np.random.randn(12).reshape((4,3)),columns=['a','b','c'],index=['行1','行2','行3','行4'])
df

           a         b         c
行1  0.570706  0.383970 -1.036546
行2 -0.864764  1.835213 -0.798146
行3 -0.413216  0.266526  0.156426
行4 -0.807804 -0.813787  0.639514

In [13]:
# lambda x:f"{x:.2f}"

In [14]:
def f(x):
    return f"{x:.2f}"

In [15]:
df.applymap(f)

        a      b      c
行1   0.57   0.38  -1.04
行2  -0.86   1.84  -0.80
行3  -0.41   0.27   0.16
行4  -0.81  -0.81   0.64

#### Pandas之所以使用applymap作为函数名，是因为在Series对象中有map()方法可以将一个逐元素的函数应用在Series​上

In [16]:
df["a"]

行1    0.570706
行2   -0.864764
行3   -0.413216
行4   -0.807804
Name: a, dtype: float64

In [17]:
df["a"].map(f)

行1     0.57
行2    -0.86
行3    -0.41
行4    -0.81
Name: a, dtype: object