In [1]:
import numpy as np
import pandas as pd

### 带有重复索引的Series 对象

In [2]:
obj = pd.Series(np.arange(5), index=["a", "a", "b", "b", "c"])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int32

### 索引的 is_unique 属性可以判断标签是否唯一

In [3]:
obj.index.is_unique

False

### 根据轴标签索引多个条目时会返回一个序列，而单条目会返回标量值

In [4]:
obj["b"]

b    2
b    3
dtype: int32

In [5]:
obj["c"]

4

### 相同的逻辑也会扩展到索引 DataFrame 中的行（或列）

In [6]:
df = pd.DataFrame(np.array([[4,7,-3],[-5,2,1],[2,5,6],[7,9,8]]) , index=["a","b","b","c"] , columns=["X","Y","Z"])
df

   X  Y  Z
a  4  7 -3
b -5  2  1
b  2  5  6
c  7  9  8

In [7]:
df.index.is_unique

False

In [8]:
df.loc["b"]

   X  Y  Z
b -5  2  1
b  2  5  6