In [1]:
import pandas as pd

# 1.unique()方法

In [2]:
obj = pd.Series(['a','c','a','d','a','b','b','c','c'])
obj

0    a
1    c
2    a
3    d
4    a
5    b
6    b
7    c
8    c
dtype: object

In [3]:
res = obj.unique()
res

array(['a', 'c', 'd', 'b'], dtype=object)

In [4]:
# 将返回的唯一值进行排序操作
res.sort()
res

array(['a', 'b', 'c', 'd'], dtype=object)

# 2.value_counts()方法：

In [5]:
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

#### value_counts()方法也是有效的pandas顶层方法，可以用于任意数组或序列

In [6]:
# Series类型
pd.value_counts(obj ,sort=False)

a    3
c    3
d    1
b    2
dtype: int64

In [7]:
# numpy.ndarray类型
pd.value_counts(obj.to_numpy())

a    3
c    3
b    2
d    1
dtype: int64

# 3.isin()方法：

In [8]:
mask = obj.isin(["b","c"])
mask

0    False
1     True
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

#### 还可以将数据集以Series或DataFrame一列的形式过滤为数据集的值子集

In [9]:
obj[mask]

1    c
5    b
6    b
7    c
8    c
dtype: object

# 4.Index.get_indexer()方法：

In [10]:
unique_s = pd.Series(['a','b','c'])
unique_s

0    a
1    b
2    c
dtype: object

In [11]:
pd.Index(unique_s).get_indexer(obj)

array([ 0,  2,  0, -1,  0,  1,  1,  2,  2], dtype=int64)

# 5.DataFrame数据类型的相关计算：

In [12]:
df = pd.DataFrame({'列1':[1,3,4,3,4],'列2':[2,3,1,2,3],'列3':[1,5,2,4,4]},index=["a","b","c","d","e"])
df

   列1  列2  列3
a   1   2   1
b   3   3   5
c   4   1   2
d   3   2   4
e   4   3   4

#### 计算单个列的值计数

In [13]:
df["列2"].value_counts()

2    2
3    2
1    1
Name: 列2, dtype: int64

#### 对所有列进行计算

In [14]:
df.apply(pd.value_counts)

    列1   列2   列3
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

In [15]:
df.apply(pd.value_counts).fillna(0)

    列1   列2   列3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

#### DataFrame.value_counts 方法

In [16]:
df = pd.DataFrame({'列1':[1,3,4,3,4],'列2':[2,3,1,2,3]},index=["a","b","c","d","e"])
df

   列1  列2
a   1   2
b   3   3
c   4   1
d   3   2
e   4   3

In [17]:
df.value_counts()

列1  列2
1   2     1
3   2     1
    3     1
4   1     1
    3     1
dtype: int64