In [1]:
import pandas as pd

# 3.read_csv()：

In [2]:
df = pd.read_csv("data/PM25.csv",encoding='gb18030')
df

    城市  超标天数  超标月数  省份 所在区域
0   和田   177  5.90  新疆   西部
1   喀什   163  5.43  新疆   西部
2  石家庄   117  3.90  河北   东部
3  阿克苏   113  3.77  新疆   西部
4   临汾   110  3.67  山西   中部
5   保定   109  3.63  河北   东部
6   咸阳   107  3.57  陕西   中部
7   安阳   104  3.47  河南   中部
8   邢台   103  3.43  河北   东部

#### names参数

In [3]:
# 读取无表头文件
df = pd.read_csv("data/PM25_no_header.csv",encoding='gb18030',header=None)
df

     0    1     2   3   4
0   和田  177  5.90  新疆  西部
1   喀什  163  5.43  新疆  西部
2  石家庄  117  3.90  河北  东部
3  阿克苏  113  3.77  新疆  西部
4   临汾  110  3.67  山西  中部
5   保定  109  3.63  河北  东部
6   咸阳  107  3.57  陕西  中部
7   安阳  104  3.47  河南  中部
8   邢台  103  3.43  河北  东部

In [4]:
# 指定自定义列名
names = ["city" , "day" , "months" , "province" , "region"]

df = pd.read_csv("data/PM25_no_header.csv",encoding='gb18030',header=None,names=names)
df

  city  day  months province region
0   和田  177    5.90       新疆     西部
1   喀什  163    5.43       新疆     西部
2  石家庄  117    3.90       河北     东部
3  阿克苏  113    3.77       新疆     西部
4   临汾  110    3.67       山西     中部
5   保定  109    3.63       河北     东部
6   咸阳  107    3.57       陕西     中部
7   安阳  104    3.47       河南     中部
8   邢台  103    3.43       河北     东部

### index_col 参数

In [5]:
# 使用“城市”列作为索引
df = pd.read_csv("data/PM25.csv",encoding='gb18030' , index_col="城市")
df

     超标天数  超标月数  省份 所在区域
城市
和田    177  5.90  新疆   西部
喀什    163  5.43  新疆   西部
石家庄   117  3.90  河北   东部
阿克苏   113  3.77  新疆   西部
临汾    110  3.67  山西   中部
保定    109  3.63  河北   东部
咸阳    107  3.57  陕西   中部
安阳    104  3.47  河南   中部
邢台    103  3.43  河北   东部

In [6]:
# 使用“省份”、所在区域”两列组成分层索引
df = pd.read_csv("data/PM25.csv",encoding='gb18030' , index_col=["所在区域","省份"])
df

          城市  超标天数  超标月数
所在区域 省份
西部   新疆   和田   177  5.90
     新疆   喀什   163  5.43
东部   河北  石家庄   117  3.90
西部   新疆  阿克苏   113  3.77
中部   山西   临汾   110  3.67
东部   河北   保定   109  3.63
中部   陕西   咸阳   107  3.57
     河南   安阳   104  3.47
东部   河北   邢台   103  3.43

### sep参数

In [7]:
# 将分隔符设置为空格
df = pd.read_csv("data/PM25_sep.csv",encoding='gb18030' , sep=" ")
df

    城市  超标天数  超标月数  省份 所在区域
0   和田   177  5.90  新疆   西部
1   喀什   163  5.43  新疆   西部
2  石家庄   117  3.90  河北   东部
3  阿克苏   113  3.77  新疆   西部
4   临汾   110  3.67  山西   中部
5   保定   109  3.63  河北   东部
6   咸阳   107  3.57  陕西   中部
7   安阳   104  3.47  河南   中部
8   邢台   103  3.43  河北   东部

In [8]:
# 将一个正则表达式传递给分隔符参数
df = pd.read_csv("data/PM25_sep.csv",encoding='gb18030' , sep="\s+")
df

    城市  超标天数  超标月数  省份 所在区域
0   和田   177  5.90  新疆   西部
1   喀什   163  5.43  新疆   西部
2  石家庄   117  3.90  河北   东部
3  阿克苏   113  3.77  新疆   西部
4   临汾   110  3.67  山西   中部
5   保定   109  3.63  河北   东部
6   咸阳   107  3.57  陕西   中部
7   安阳   104  3.47  河南   中部
8   邢台   103  3.43  河北   东部

### skiprows 参数

In [9]:
# 跳过第二行和第九行
df = pd.read_csv("data/PM25.csv",encoding='gb18030' , skiprows=[1,8])
df

    城市  超标天数  超标月数  省份 所在区域
0   喀什   163  5.43  新疆   西部
1  石家庄   117  3.90  河北   东部
2  阿克苏   113  3.77  新疆   西部
3   临汾   110  3.67  山西   中部
4   保定   109  3.63  河北   东部
5   咸阳   107  3.57  陕西   中部
6   邢台   103  3.43  河北   东部

### 缺失值处理

In [10]:
# 读取有缺失值的文件
df = pd.read_csv("data/PM25_nan.csv",encoding='gb18030')
df

    城市   超标天数    超标月数  省份 所在区域
0   和田    NaN  999.00  新疆   西部
1   喀什  163.0    5.43  新疆   西部
2  石家庄  117.0    3.90  河北   东部
3  阿克苏  113.0    3.77  新疆  NaN
4   临汾    0.0    3.67  山西   中部
5   保定  109.0    3.63  河北   东部
6   咸阳  107.0     NaN  陕西   中部
7   安阳  104.0    3.47  河南   中部
8   邢台  103.0    0.00  河北   东部

In [11]:
# 查看缺失值情况
pd.isna(df)

      城市   超标天数   超标月数     省份   所在区域
0  False   True  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False   True
4  False  False  False  False  False
5  False  False  False  False  False
6  False  False   True  False  False
7  False  False  False  False  False
8  False  False  False  False  False

In [12]:
# keep_default_na
df = pd.read_csv("data/PM25_nan.csv",encoding='gb18030',keep_default_na=False)
df

    城市 超标天数  超标月数  省份 所在区域
0   和田        999  新疆   西部
1   喀什  163  5.43  新疆   西部
2  石家庄  117   3.9  河北   东部
3  阿克苏  113  3.77  新疆  NaN
4   临汾    0  3.67  山西   中部
5   保定  109  3.63  河北   东部
6   咸阳  107        陕西   中部
7   安阳  104  3.47  河南   中部
8   邢台  103     0  河北   东部

In [13]:
pd.isna(df)

      城市   超标天数   超标月数     省份   所在区域
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False  False
4  False  False  False  False  False
5  False  False  False  False  False
6  False  False  False  False  False
7  False  False  False  False  False
8  False  False  False  False  False

In [14]:
# na_values
df = pd.read_csv("data/PM25_nan.csv",encoding='gb18030' , na_values=0)
df

    城市   超标天数    超标月数  省份 所在区域
0   和田    NaN  999.00  新疆   西部
1   喀什  163.0    5.43  新疆   西部
2  石家庄  117.0    3.90  河北   东部
3  阿克苏  113.0    3.77  新疆  NaN
4   临汾    NaN    3.67  山西   中部
5   保定  109.0    3.63  河北   东部
6   咸阳  107.0     NaN  陕西   中部
7   安阳  104.0    3.47  河南   中部
8   邢台  103.0     NaN  河北   东部

In [15]:
sentinels = {"超标天数":[0] , "超标月数":[0,999]}

df = pd.read_csv("data/PM25_nan.csv",encoding='gb18030' , na_values=sentinels)
df

    城市   超标天数  超标月数  省份 所在区域
0   和田    NaN   NaN  新疆   西部
1   喀什  163.0  5.43  新疆   西部
2  石家庄  117.0  3.90  河北   东部
3  阿克苏  113.0  3.77  新疆  NaN
4   临汾    NaN  3.67  山西   中部
5   保定  109.0  3.63  河北   东部
6   咸阳  107.0   NaN  陕西   中部
7   安阳  104.0  3.47  河南   中部
8   邢台  103.0   NaN  河北   东部