In [1]:
import numpy as np
import pandas as pd

import sys

In [2]:
data = {"A":[1,np.nan,3] , "B":[4,5,6] , "C":[7,8,9] , "D":["x","y",np.nan]}

df = pd.DataFrame(data)
df

     A  B  C    D
0  1.0  4  7    x
1  NaN  5  8    y
2  3.0  6  9  NaN

In [3]:
#  将数据写入文件
df.to_csv("./data/out.csv")

In [4]:
# 使用 sys.stdout ， 通过控制台打印文本结果，而不是写入文件
df.to_csv(sys.stdout)

,A,B,C,D
0,1.0,4,7,x
1,,5,8,y
2,3.0,6,9,

#### na_rep参数

In [5]:
df.to_csv(sys.stdout , na_rep="NULL")

,A,B,C,D
0,1.0,4,7,x
1,NULL,5,8,y
2,3.0,6,9,NULL

#### sep参数

In [6]:
df.to_csv(sys.stdout , sep="|" , na_rep="NULL")

|A|B|C|D
0|1.0|4|7|x
1|NULL|5|8|y
2|3.0|6|9|NULL

#### index, header参数

In [7]:
df.to_csv(sys.stdout , sep="|" , na_rep="NULL" , index=False , header=False)

1.0|4|7|x
NULL|5|8|y
3.0|6|9|NULL

#### columns参数

In [8]:
df.to_csv(sys.stdout , sep="|" , na_rep="NULL" , index=False , columns=["D","B","C"])

D|B|C
x|4|7
y|5|8
NULL|6|9