In [1]:
import json
import sys

import pandas as pd

In [2]:
obj = """{
"status": 0,
"message": "ok",
"results":[{"name": "中国民生银行(安定门支行)",
             "location": {"lat": 39.971315,"lng": 116.413576},
             "address": "北京市朝阳区安定门外大街1号"
            },{
             "name": "北京银行(中轴路支行)", 
             "location": {"lat": 39.957457,"lng": 116.40428},
             "address": "北京市东城区安德路16号(洲际大厦首层)"
            },{
             "name": "交通银行(北京和平里支行)", 
             "location": {"lat": 39.968787,"lng": 116.410049}, 
             "address": "北京市朝阳区外馆东街51号"
            },{
             "name": "中国进出口银行(北京分行)",
             "location": {"lat": 39.934898,"lng": 116.411758},
             "address": "北京市东城区北河沿大街77号"
            },{
             "name": "中国工商银行(北京地坛支行)",
             "location": {"lat": 39.965762,"lng": 116.412735},
             "address": "北京市东城区安外大街9号"
}
]}"""

#### json.loads()

In [3]:
result = json.loads(obj)
result

{'status': 0,
 'message': 'ok',
 'results': [{'name': '中国民生银行(安定门支行)',
   'location': {'lat': 39.971315, 'lng': 116.413576},
   'address': '北京市朝阳区安定门外大街1号'},
  {'name': '北京银行(中轴路支行)',
   'location': {'lat': 39.957457, 'lng': 116.40428},
   'address': '北京市东城区安德路16号(洲际大厦首层)'},
  {'name': '交通银行(北京和平里支行)',
   'location': {'lat': 39.968787, 'lng': 116.410049},
   'address': '北京市朝阳区外馆东街51号'},
  {'name': '中国进出口银行(北京分行)',
   'location': {'lat': 39.934898, 'lng': 116.411758},
   'address': '北京市东城区北河沿大街77号'},
  {'name': '中国工商银行(北京地坛支行)',
   'location': {'lat': 39.965762, 'lng': 116.412735},
   'address': '北京市东城区安外大街9号'}]}

#### json.dumps()

In [4]:
asjson = json.dumps(result)
asjson

'{"status": 0, "message": "ok", "results": [{"name": "\\u4e2d\\u56fd\\u6c11\\u751f\\u94f6\\u884c(\\u5b89\\u5b9a\\u95e8\\u652f\\u884c)", "location": {"lat": 39.971315, "lng": 116.413576}, "address": "\\u5317\\u4eac\\u5e02\\u671d\\u9633\\u533a\\u5b89\\u5b9a\\u95e8\\u5916\\u5927\\u88571\\u53f7"}, {"name": "\\u5317\\u4eac\\u94f6\\u884c(\\u4e2d\\u8f74\\u8def\\u652f\\u884c)", "location": {"lat": 39.957457, "lng": 116.40428}, "address": "\\u5317\\u4eac\\u5e02\\u4e1c\\u57ce\\u533a\\u5b89\\u5fb7\\u8def16\\u53f7(\\u6d32\\u9645\\u5927\\u53a6\\u9996\\u5c42)"}, {"name": "\\u4ea4\\u901a\\u94f6\\u884c(\\u5317\\u4eac\\u548c\\u5e73\\u91cc\\u652f\\u884c)", "location": {"lat": 39.968787, "lng": 116.410049}, "address": "\\u5317\\u4eac\\u5e02\\u671d\\u9633\\u533a\\u5916\\u9986\\u4e1c\\u885751\\u53f7"}, {"name": "\\u4e2d\\u56fd\\u8fdb\\u51fa\\u53e3\\u94f6\\u884c(\\u5317\\u4eac\\u5206\\u884c)", "location": {"lat": 39.934898, "lng": 116.411758}, "address": "\\u5317\\u4eac\\u5e02\\u4e1c\\u57ce\\u533a\\u5317\\u6cb3\\u6cbf\\u5927\\u885777\\u53f7"}, {"name": "\\u4e2d\\u56fd\\u5de5\\u5546\\u94f6\\u884c(\\u5317\\u4eac\\u5730\\u575b\\u652f\\u884c)", "location": {"lat": 39.965762, "lng": 116.412735}, "address": "\\u5317\\u4eac\\u5e02\\u4e1c\\u57ce\\u533a\\u5b89\\u5916\\u5927\\u88579\\u53f7"}]}'

#### 将json数据转换为Pandas数据格式

In [5]:
siblings = pd.DataFrame(result["results"], columns=["name",  "address"])
siblings

             name               address
0   中国民生银行(安定门支行)        北京市朝阳区安定门外大街1号
1     北京银行(中轴路支行)  北京市东城区安德路16号(洲际大厦首层)
2   交通银行(北京和平里支行)         北京市朝阳区外馆东街51号
3   中国进出口银行(北京分行)        北京市东城区北河沿大街77号
4  中国工商银行(北京地坛支行)          北京市东城区安外大街9号

#### pandas.read_json()

In [6]:
data = pd.read_json("data/example.json")
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

#### to_json()

In [7]:
data.to_json(sys.stdout)

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [8]:
data.to_json(sys.stdout , orient="records")

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]