In [1]:
import numpy as np
import pandas as pd

import re

In [2]:
data = {'name':['Dave','Steve','Rob','Wes'],
       'email':['dave@google.com','steve@gmail.com','rob@gmail.com',np.nan],
       'country':['Canada','France','Italy','USA']}

In [3]:
data = pd.DataFrame(data)
data

    name            email country
0   Dave  dave@google.com  Canada
1  Steve  steve@gmail.com  France
2    Rob    rob@gmail.com   Italy
3    Wes              NaN     USA

In [4]:
data.isna()

    name  email  country
0  False  False    False
1  False  False    False
2  False  False    False
3  False   True    False

#### str.contains

In [5]:
data["email"].str.contains("gmail")

0    False
1     True
2     True
3      NaN
Name: email, dtype: object

#### extension types

In [6]:
data_as_string_ext = data["email"].astype('string')

In [7]:
data_as_string_ext

0    dave@google.com
1    steve@gmail.com
2      rob@gmail.com
3               <NA>
Name: email, dtype: string

In [8]:
data_as_string_ext.str.contains("gmail")

0    False
1     True
2     True
3     <NA>
Name: email, dtype: boolean

#### re

In [9]:
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"

In [10]:
data["email"].str.findall(pattern, flags=re.IGNORECASE)

0    [(dave, google, com)]
1    [(steve, gmail, com)]
2      [(rob, gmail, com)]
3                      NaN
Name: email, dtype: object

#### str.get + str[ ]

In [11]:
matches = data["email"].str.findall(pattern, flags=re.IGNORECASE).str[0]
matches

0    (dave, google, com)
1    (steve, gmail, com)
2      (rob, gmail, com)
3                    NaN
Name: email, dtype: object

In [12]:
matches.str.get(1)

0    google
1     gmail
2     gmail
3       NaN
Name: email, dtype: object

#### 对字符串进行向量化的切片

In [13]:
data["email"].str[:5]

0    dave@
1    steve
2    rob@g
3      NaN
Name: email, dtype: object

#### str.extract

In [14]:
data["email"].str.extract(pattern, flags=re.IGNORECASE)

       0       1    2
0   dave  google  com
1  steve   gmail  com
2    rob   gmail  com
3    NaN     NaN  NaN