In [1]:
import numpy as np
import pandas as pd

# 3.时间戳与区间的相互转换：

### 可以使用 to_period 方法将由时间戳索引的 Series 和 DataFrame 对象转换为区间：

In [2]:
# M：每月最后一个日历日
dates = pd.date_range("2022-1-1" , periods=3 , freq="M")
dates

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31'], dtype='datetime64[ns]', freq='M')

In [3]:
ts = pd.Series(np.arange(len(dates)) , index=dates)
ts

2022-01-31    0
2022-02-28    1
2022-03-31    2
Freq: M, dtype: int32

In [4]:
ts.to_period()

2022-01    0
2022-02    1
2022-03    2
Freq: M, dtype: int32

### 由于区间是不重叠的时间跨度，因此，一个时间戳只能属于给定频率的单个区间。

### 虽然，默认情况下，新的PeriodIndex 的频率是根据时间戳推断而来的，但是可以指定任意支持的频率。在结果中包含重复的区间也是没问题的：

In [5]:
dates = pd.date_range("2022-01-29", periods=6)
dates

DatetimeIndex(['2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
               '2022-02-02', '2022-02-03'],
              dtype='datetime64[ns]', freq='D')

In [6]:
ts2 = pd.Series(np.arange(6), index=dates)
ts2

2022-01-29    0
2022-01-30    1
2022-01-31    2
2022-02-01    3
2022-02-02    4
2022-02-03    5
Freq: D, dtype: int32

In [7]:
ts2.to_period("M")

2022-01    0
2022-01    1
2022-01    2
2022-02    3
2022-02    4
2022-02    5
Freq: M, dtype: int32

###  to_timestamp 方法可以将区间转换为时间戳，该方法返回 DatetimeIndex：

In [8]:
pts = ts2.to_period()
pts

2022-01-29    0
2022-01-30    1
2022-01-31    2
2022-02-01    3
2022-02-02    4
2022-02-03    5
Freq: D, dtype: int32

In [9]:
pts.to_timestamp(how="end")

2022-01-29 23:59:59.999999999    0
2022-01-30 23:59:59.999999999    1
2022-01-31 23:59:59.999999999    2
2022-02-01 23:59:59.999999999    3
2022-02-02 23:59:59.999999999    4
2022-02-03 23:59:59.999999999    5
Freq: D, dtype: int32

# 4.从数组生成PeriodIndex ：

### 固定频率数据集有时存储在跨越多列的时间范围信息中。

### 例如，下面读取的数据集中，年份和季度在不同的列：

In [10]:
data = pd.read_csv("./data/Creating_PeriodIndex_from_Arrays.csv")

In [11]:
data.head(5)

   Year  Quarter  data
0  2000        1     1
1  2000        2     2
2  2000        3     3
3  2000        4     4
4  2001        1     5

In [12]:
data["Year"]

0     2000
1     2000
2     2000
3     2000
4     2001
5     2001
6     2001
7     2001
8     2002
9     2002
10    2002
11    2002
12    2003
13    2003
14    2003
15    2003
16    2004
17    2004
18    2004
19    2004
20    2005
21    2005
22    2005
23    2005
Name: Year, dtype: int64

In [13]:
data["Quarter"]

0     1
1     2
2     3
3     4
4     1
5     2
6     3
7     4
8     1
9     2
10    3
11    4
12    1
13    2
14    3
15    4
16    1
17    2
18    3
19    4
20    1
21    2
22    3
23    4
Name: Quarter, dtype: int64

### 通过将这些数组和频率传递给 PeriodIndex，可以将它们组合起来形成 DataFrame 的索引：

In [14]:
index = pd.PeriodIndex(year=data["Year"], quarter=data["Quarter"],freq="Q-DEC")

In [15]:
index

PeriodIndex(['2000Q1', '2000Q2', '2000Q3', '2000Q4', '2001Q1', '2001Q2',
             '2001Q3', '2001Q4', '2002Q1', '2002Q2', '2002Q3', '2002Q4',
             '2003Q1', '2003Q2', '2003Q3', '2003Q4', '2004Q1', '2004Q2',
             '2004Q3', '2004Q4', '2005Q1', '2005Q2', '2005Q3', '2005Q4'],
            dtype='period[Q-DEC]')

In [16]:
data.index = index

In [17]:
data

        Year  Quarter  data
2000Q1  2000        1     1
2000Q2  2000        2     2
2000Q3  2000        3     3
2000Q4  2000        4     4
2001Q1  2001        1     5
2001Q2  2001        2     6
2001Q3  2001        3     7
2001Q4  2001        4     8
2002Q1  2002        1     9
2002Q2  2002        2    10
2002Q3  2002        3    11
2002Q4  2002        4    12
2003Q1  2003        1    13
2003Q2  2003        2    14
2003Q3  2003        3    15
2003Q4  2003        4    16
2004Q1  2004        1    17
2004Q2  2004        2    18
2004Q3  2004        3    19
2004Q4  2004        4    20
2005Q1  2005        1    21
2005Q2  2005        2    22
2005Q3  2005        3    23
2005Q4  2005        4    24