In [1]:
import numpy as np
import pandas as pd

# 1.rolling ：

In [2]:
dates = pd.date_range('2022-1-3','2022-1-15')

In [3]:
df = pd.DataFrame(data = np.arange(len(dates)*2).reshape(-1,2) , columns=["data1","data2"],index=dates)
df

            data1  data2
2022-01-03      0      1
2022-01-04      2      3
2022-01-05      4      5
2022-01-06      6      7
2022-01-07      8      9
2022-01-08     10     11
2022-01-09     12     13
2022-01-10     14     15
2022-01-11     16     17
2022-01-12     18     19
2022-01-13     20     21
2022-01-14     22     23
2022-01-15     24     25

In [4]:
# 按照工作日频率进行重新采样
df = df.resample("B").ffill()
df

            data1  data2
2022-01-03      0      1
2022-01-04      2      3
2022-01-05      4      5
2022-01-06      6      7
2022-01-07      8      9
2022-01-10     14     15
2022-01-11     16     17
2022-01-12     18     19
2022-01-13     20     21
2022-01-14     22     23

In [5]:
# 获取一列数据
data = df["data1"]
data

2022-01-03     0
2022-01-04     2
2022-01-05     4
2022-01-06     6
2022-01-07     8
2022-01-10    14
2022-01-11    16
2022-01-12    18
2022-01-13    20
2022-01-14    22
Freq: B, Name: data1, dtype: int32

## 1.1 获得窗口大小为3时的移动窗口平均值：

In [6]:
data.rolling(3).sum()

2022-01-03     NaN
2022-01-04     NaN
2022-01-05     6.0
2022-01-06    12.0
2022-01-07    18.0
2022-01-10    28.0
2022-01-11    38.0
2022-01-12    48.0
2022-01-13    54.0
2022-01-14    60.0
Freq: B, Name: data1, dtype: float64

### min_periods参数

In [7]:
data.rolling(3 , min_periods=2).sum()

2022-01-03     NaN
2022-01-04     2.0
2022-01-05     6.0
2022-01-06    12.0
2022-01-07    18.0
2022-01-10    28.0
2022-01-11    38.0
2022-01-12    48.0
2022-01-13    54.0
2022-01-14    60.0
Freq: B, Name: data1, dtype: float64

### center参数

In [8]:
data.rolling(3 , center=True).sum()

2022-01-03     NaN
2022-01-04     6.0
2022-01-05    12.0
2022-01-06    18.0
2022-01-07    28.0
2022-01-10    38.0
2022-01-11    48.0
2022-01-12    54.0
2022-01-13    60.0
2022-01-14     NaN
Freq: B, Name: data1, dtype: float64

## 1.2 rolling 函数也可以接收一个表示固定大小的时间偏置字符串：

In [9]:
data.rolling("3D").sum()

2022-01-03     0.0
2022-01-04     2.0
2022-01-05     6.0
2022-01-06    12.0
2022-01-07    18.0
2022-01-10    14.0
2022-01-11    30.0
2022-01-12    48.0
2022-01-13    54.0
2022-01-14    60.0
Freq: B, Name: data1, dtype: float64

## 1.3 在 DataFrame 上调用移动窗口函数会将转换应用于每一列：

In [10]:
df.rolling(3).sum()

            data1  data2
2022-01-03    NaN    NaN
2022-01-04    NaN    NaN
2022-01-05    6.0    9.0
2022-01-06   12.0   15.0
2022-01-07   18.0   21.0
2022-01-10   28.0   31.0
2022-01-11   38.0   41.0
2022-01-12   48.0   51.0
2022-01-13   54.0   57.0
2022-01-14   60.0   63.0

# 2.expanding:

In [11]:
data

2022-01-03     0
2022-01-04     2
2022-01-05     4
2022-01-06     6
2022-01-07     8
2022-01-10    14
2022-01-11    16
2022-01-12    18
2022-01-13    20
2022-01-14    22
Freq: B, Name: data1, dtype: int32

In [12]:
data.expanding(min_periods=3).sum()

2022-01-03      NaN
2022-01-04      NaN
2022-01-05      6.0
2022-01-06     12.0
2022-01-07     20.0
2022-01-10     34.0
2022-01-11     50.0
2022-01-12     68.0
2022-01-13     88.0
2022-01-14    110.0
Freq: B, Name: data1, dtype: float64